<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636156685823-aegkqdi5olk72jctolraoa339fprqart.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636156685823-aegkqdi5olk72jctolraoa339fprqart</string>
	<key>API_KEY</key>
	<string>AIzaSyBfSXBCScAKl5hKJM_Wf2S7koDmbWxGS98</string>
	<key>GCM_SENDER_ID</key>
	<string>636156685823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TDH-lab.simpleLoginHackathon</string>
	<key>PROJECT_ID</key>
	<string>swifthackathon-au</string>
	<key>STORAGE_BUCKET</key>
	<string>swifthackathon-au.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636156685823:ios:adc0a7550bfb6a66670bca</string>
</dict>
</plist>